@page
@model AppliTrack.Pages.Applications.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Applications";
}

<h1>Applications</h1>

<p>
    <a asp-page="./Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Application[0].Company)</th>
            <th>@Html.DisplayNameFor(m => m.Application[0].Role)</th>
            <th>@Html.DisplayNameFor(m => m.Application[0].DateApplied)</th>
            <th>@Html.DisplayNameFor(m => m.Application[0].Status)</th>
            <th>@Html.DisplayNameFor(m => m.Application[0].NextActionDate)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Application)
{
        <tr>
            <td>@Html.DisplayFor(_ => item.Company)</td>
            <td>@Html.DisplayFor(_ => item.Role)</td>
            <td>@Html.DisplayFor(_ => item.DateApplied)</td>
            <td>@Html.DisplayFor(_ => item.Status)</td>
            <td>@Html.DisplayFor(_ => item.NextActionDate)</td>
            <td>
                <a asp-page="./Edit"   asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete"  asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
